.game-image{
  width: 110px;
  height: 110px;
  border-radius: 10px;
  margin-left: 3vw;
  object-fit: cover;
}

.gameplay-img{
  width: 40vw;
  margin: 0 20px;
  border-radius: 5px;
}


.test{
  width: 20vw;
  height: 10vw;
}

.gametag{
  position: relative;
  width: fit-content;
  padding: 5px 10px;
  background-color: rgb(177, 177, 177);
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.select-version-edition-container{
  border-radius: 20px;
  border: 2px solid #d8d8d8;
}


/* The container */
.game-version-selector-radio {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border-radius: 5px;
background-color: white;
}

/* Hide the browser's default radio button */
.game-version-selector-radio input {
position: absolute;
opacity: 0;
cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.game-version-selector-radio:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.game-version-selector-radio input:checked ~ .checkmark {
background-color: #038BA5;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the indicator (dot/circle) when checked */
.game-version-selector-radio input:checked ~ .checkmark:after {
display: block;
}

/* Style the indicator (dot/circle) */
.game-version-selector-radio .checkmark:after {
    top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

@media (min-width: 768px) { 
.p{
  font-size: 12px;
}
.a{
  font-size: 14px;
}
.div{
  font-size: 14px;
}
.button{
  font-size: 14px;
}
.game-image{
    width: 220px;
    height: 220px;
    margin-left: 10vw;
}

.gameplay-img{
  width: 20vw;
  height: 11vw;
}

}
