{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static './css/responsiveElements.css'%} ">
    <link rel="stylesheet" href="{% static './css/global.css'%}">
    <link rel="stylesheet" href="{% static './css/responsiveGrid.css'%}">
    
    <link rel="stylesheet" href="{% static './css/user.css'%}">
    
    <title>Bitsey | Cart</title>
</head>
<body>
    <!-- Navigation bar -->
    {% include 'navbar.html' %}

    <!-- small screen-->
    <div class="d-block d-md-none">
        <div class="col-12 dark-gray-background" style=" margin-bottom: 20px;">
            <a href="{% url 'homepage' %}">Home</a>
            <i class="bi bi-chevron-right"></i>
            <a href="{% url 'edit_user' user_id=user.id %}">Account</a>
            <i class="bi bi-chevron-right"></i>
            <a href="">Cart</a>
        </div>


        <p class="h4 standard-margin-left">{{user.username}}'s Cart</p>
    
    
        <div class="col-11 d-block"> <!-- main container -->
            <div class="col-12"> <!-- order display -->
                {% if cart_is_empty %}
                    <p class="h2 text-center">Oh no... Your cart is empty!</p>
                    
                    <div class="col-12 d-flex justify-content-center">
                        <img style="height: 300px; width: 300px;" src="{% static '/media/images/userAppImages/wind.gif' %}" alt="empty wishlist">
                    </div>

                {% else %}
            
                
                    {% if  total_price > 300 %}
                        <div class="rounded-3 p-2" style="padding-left: 20px; background-color: #d4f2c4;">You are eligible for free shipping!</div><!-- Messages --> 
                    {% endif %} 
                    
                        <div class="col-12 d-block"> <!-- basket-container --> 
                            {% for item in cart_items %}
    
                                <!-- basket-item-container --> 
                                <div class="col-10 basket-item" style="margin: 10px 0;">  
                                    <div class="d-flex">
                                        <img style="height: 100px; width: 100px; border-radius: 5px; object-fit: cover;" src="{{item.game.image.url}}" alt=""> <!-- game image --> 
                                        <div style="margin-left: 8vw;">
                                            <p class="m-1">{{item.game.name}}</p>
                                            <p class="m-0">{{item.platform}}</p>
                                            <p class="text-m">{{item.edition}}</p>
                                        </div>
                        
                                    </div>

                                    <div class="col-12 d-flex justify-content-evenly">
                                        <div style="width: 70%;">


                                            {% if item.edition == "physical"%}
                                        <div class="col-5"> <!-- game quantity --> 
                                            <p class="text-m m-0">Quantity</p>
        
                                            <div class="d-flex"><!-- quantity selector --> 
        
                                                <button type="button" class="btn-empty"><i class="bi bi-dash bitsey-text-color" onclick="decrement(`{{item.id}}`)"></i></button>
                                                <p style="margin: 0px 5px;" id="game-quantity-{{item.id}}" data-maxPhysicalQuantity="{{item.game.physicalCopyQuantity}}">{{item.quantity}}</p>
                                                <button type="button" class="btn-empty"><i class="bi bi-plus bitsey-text-color" onclick="increment(`{{item.id}}`)"></i></button>
                                            
                                            </div>
     
                                        </div>
                                        {% else %}
                                        <div class="col-6 "></div>
                                        {% endif %}

                                        </div>

                                        <div style="width: 30%;">
                                            <p class="text-m float-end">RM {{item.game.price}}</p>

                                            <div class="p-0float-end" style="">
                                                <form  action="{% url 'remove_from_cart' cartItemId=item.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn rounded-pill btn-outline-danger text-m">Remove</button>
                                                </form>
                                            </div> <!-- remove --> 
                                        </div>
                                    </div>
                                </div>
    
                                {% endfor %}
                            
                            </div>
                    
                    
                {% endif %}         
        </div>
    
    
            <!-- order summary  -->
            <div class="col-11 rounded light-gray-background" style="height: fit-content; padding: 20px 20px 30px 20px;">
                <p class="h4">Order summary</p>
                <p class="text-s">*All physical product(s) will be shipped to the address set in your account.</p>
                <div><!-- price summary  -->
                    <div class="d-flex justify-content-between">
                        <p>Item(s) subtotal:</p>
                        <p class="fw-bold">RM <span id="itemSubtotal" data-subtotal="{{total_price}}">{{total_price}}</span></p>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <p>Shipping:</p>
                        <p class="fw-bold">RM  <span id="shippingField" data-shippingfee="{{shipping_price}}">{{shipping_price}}</span></p>
                    </div>
                </div>  

                <!-- Estimated total -->
                <div class="d-flex justify-content-between mt-4" style="border-top: 1px solid #d8d8d8;">
                    <p>Total:</p>
                    <p class="fw-bold">RM <span id="cartTotal"></span></p>
                </div>

                {% if cart_is_empty %}
                    <button class="btn btn-success rounded-pill" disabled>Payment</button>   
                {% else %}
                <form form method="post" action="{% url 'convert_cart_to_order' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success rounded-pill">Payment</button>
                </form>
                    
                {% endif %} 
                
            </div>


        </div>

    </div>





    <!-- wide screen -->
    <div class="d-none d-md-block">
        <div style="margin: 40px 0;">
            <p class="h2 standard-margin-left">{{user.username}}'s Cart</p> 
    
            <div class="standard-margin-left"> <!-- Links breakdown-->
                <a href="{% url 'homepage' %}">Home</a>
                <i class="bi bi-chevron-right"></i>
                <a href="{% url 'edit_user' user_id=user.id %}">Account</a>
                <i class="bi bi-chevron-right"></i>
                <a href="">Cart</a>
            </div> 
    
            <div class="col-10 d-flex justify-content-between standard-margin-left"> <!-- main container -->
                <div class="col-8"> <!-- order display -->
                    {% if cart_is_empty %}
                        <p class="h2 text-center">Oh no... Your cart is empty!</p>
                        
                        <div class="col-12 d-flex justify-content-center">
                            <img style="height: 300px; width: 300px;" src="{% static '/media/images/userAppImages/wind.gif' %}" alt="empty wishlist">
                        </div>
    
                    {% else %}
                
                    
                    {% if  total_price > 300 %}
                       
                        <div class="rounded-3 p-2" style="padding-left: 20px; background-color: #d4f2c4;">You are eligible for free shipping!</div><!-- Messages --> 
                    {% endif %} 
                    
                        <div> <!-- basket-container --> 
    
    
                            {% for item in cart_items %}
    
                                <!-- basket-item-container --> 
                                <div class="d-flex justify-content-center basket-item" style="margin: 10px 0;">  
                                    <div class="col-3"> <img style="height: 100px; width: 100px; border-radius: 5px; object-fit: cover;" src="{{item.game.image.url}}" alt=""> </div> <!-- game image --> 
    
                                    <div class="col-3"> <!-- game name and price--> 
                                        <p class="m-0">{{item.game.name}}</p>
                                        <p class="m-0">{{item.platform}}</p>
                                        <p class="text-m">{{item.edition}}</p>
                                    </div>
                                    
                                    {% if item.edition == "physical"%}
                                    <div class="col-2"> <!-- game quantity --> 
                                        <p class="text-m">Quantity</p>
    
                                        <div class="d-flex"><!-- quantity selector --> 
    
                                            <button type="button" class="btn-empty"><i class="bi bi-dash bitsey-text-color" onclick="decrement(`{{item.id}}`)"></i></button>
                                            <p style="margin: 0px 5px;" id="game-quantity-{{item.id}}" data-maxPhysicalQuantity="{{item.game.physicalCopyQuantity}}">{{item.quantity}}</p>
                                            <button type="button" class="btn-empty"><i class="bi bi-plus bitsey-text-color" onclick="increment(`{{item.id}}`)"></i></button>
                                        
                                        </div>
                                        
                                    </div>
                                    {% else %}
                                    <div class="col-2"></div>
                                    {% endif %}
                                    
    
                                    <div class="col-2">
                                        <p class="text-m">RM {{item.game.price}}</p>
                                    </div>
    
                                    <div class="col-2">
                                        <form  action="{% url 'remove_from_cart' cartItemId=item.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn rounded-pill btn-outline-danger text-m">Remove</button>
                                        </form>
                                    </div> <!-- remove --> 
                                </div>
    
                            {% endfor %}
                            
    
                    </div>
                    
    
                {% endif %}         
    
            </div>
    
    
                <!-- order summary  -->
                <div class="col-3 rounded light-gray-background" style="height: fit-content; padding: 20px 20px 30px 20px;">
                    <p class="h4">Order summary</p>
                    <p class="text-s">*All physical product(s) will be shipped to the address set in your account.</p>
                    <div><!-- price summary  -->
                        <div class="d-flex justify-content-between">
                            <p>Item(s) subtotal:</p>
                            <p class="fw-bold">RM <span id="itemSubtotal" data-subtotal="{{total_price}}">{{total_price}}</span></p>
                        </div>
                        
                        <div class="d-flex justify-content-between">
                            <p>Shipping:</p>
                            <p class="fw-bold">RM  <span id="shippingField" data-shippingfee="{{shipping_price}}">{{shipping_price}}</span></p>
                        </div>
                    </div>  
    
                    <!-- Estimated total -->
                    <div class="d-flex justify-content-between mt-4" style="border-top: 1px solid #d8d8d8;">
                        <p>Total:</p>
                        <p class="fw-bold">RM <span id="cartTotal"></span></p>
                    </div>
    
                    {% if cart_is_empty %}
                        <button class="btn btn-success rounded-pill" disabled>Payment</button>   
                    {% else %}
                    <form form method="post" action="{% url 'convert_cart_to_order' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success rounded-pill">Payment</button>
                    </form>
                        
                    {% endif %} 
                    
                </div>
    
    
            </div>
        </div>
    </div>
    



    <!-- Footer -->
    {% include 'footer.html' %}





</body>
<script>
    function decrement(cartItemId){
        var numberDisplay =document.getElementById(`game-quantity-${cartItemId}`)

        if(Number(numberDisplay.innerHTML) > 1){
            console.log("decreasing count")

            //Update cart item in the database
            fetch('http://127.0.0.1:8000/UpdateCartItemQuantity/', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ data: {
                    //"userId": userId,
                    "cartItemId": cartItemId,
                    "operation": "decrement"
                } }),
            })
            .then(response => response.json())
            .then(data => {
               
                console.log(data.newQuantity)
                
                
                numberDisplay.innerHTML = data.newQuantity
                UpdateTotal(data.newTotal)
            })
            .catch(error => console.error('Error:', error));

        }

    }

    function increment(cartItemId){
        var numberDisplay =document.getElementById(`game-quantity-${cartItemId}`)
        var maxQuantity = numberDisplay.getAttribute('data-maxPhysicalQuantity');

        console.log("Max quantity: " + maxQuantity)

        if(Number(numberDisplay.innerHTML) < maxQuantity){
            console.log("Increasing count count")
            //Update cart item in the database

            fetch('http://127.0.0.1:8000/UpdateCartItemQuantity/', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ data: {
                    //"userId": userId,
                    "cartItemId": cartItemId,
                    "operation": "increment"
                } }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.newQuantity)
                //Update the UI
                numberDisplay.innerHTML = data.newQuantity
                UpdateTotal(data.newTotal)
            })
            .catch(error => console.error('Error:', error));
       
        }

    }

    function UpdateTotal(newTotal){
        var subtotal = document.getElementById('itemSubtotal');
        subtotal.innerHTML = Number(newTotal).toFixed(2)

        var shippingField = document.getElementById('shippingField')

        var shippingField = document.getElementById('shippingField')
        var shipping = shippingField.dataset.shippingfee;

        var totalField = document.getElementById('cartTotal')
        totalField.innerHTML = (Number(newTotal) + Number(shipping)).toFixed(2)
    }

    function CalculateTotal(){
        
        var shippingField = document.getElementById('shippingField')
        var shipping = shippingField.dataset.shippingfee;
        console.log(shipping)
        var totalField = document.getElementById('cartTotal')
        var subtotal = document.getElementById('itemSubtotal').dataset.subtotal;
        console.log(subtotal)


        totalField.innerHTML = Number(subtotal) + Number(shipping) 
    }
    CalculateTotal();
</script>
<script type="text/javascript" src="{% static 'js/notification.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cartNotification.js' %}"></script>

</html>