{% load static %}
<!-- Footer -->
<footer class="col-12 pt-4 pb-5 light-gray-background container-fluid p-4">

    <div class="col-1 col-s-12"></div>
    <div class="col-2 col-s-12 d-block light-text-color">
        <p>Browse Games</p>
        <ul class="list-unstyled">
            <li><a href="" class="footer-text">PlayStation Games</a></li>
            <li><a href="" class="footer-text">Xbox Games</a></li>
            <li><a href="" class="footer-text">Nintendo Games</a></li>
            <li><a href="" class="footer-text">PC Games</a></li>
        </ul>
        
    </div>
    <div class="col-2 col-s-12 light-text-color">
        <p >Support</p>
        <p class="footer-text">+06 012 672 9991</p>
        <p class="footer-text">+06 012 542 1291</p>
        <p class="footer-text">bitsey-malaysia@gmail.com</p>
    </div>
    <div class="col-3 col-s-12 light-text-color">
        <p>Location</p>
        <p class="footer-text">
            Kuala Lumpur Convention Centre, Jalan Pinang,
            50088 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur
        </p>
    </div>

    <div class="col-3 col-s-12">
        <p class="light-text-color">Follow Bitsey</p>
        <div class="social-media-links">
            <img class="individual-icon" style="margin-left: 0;" src="{% static '/media/images/homeImages/instagram.png' %}" alt="">
            <img class="individual-icon" src="{% static '/media/images/homeImages/twitter.png' %}" alt="">
            <img class="individual-icon" src="{% static '/media/images/homeImages/linkedin.png' %}" alt="">
            <img class="individual-icon" src="{% static '/media/images/homeImages/facebook.png' %}" alt="">
        </div>
    </div>   
</footer>

<div class="position-relative col-12 p-0">
    <p class="text-center m-0 light-text-color light-gray-background">@2023 Bitsey Studio Malaysia</p>
</div>

<div class="col-12 d-block d-md-none light-gray-background" style="height: 20vh;">

</div>