{% load static %}
<!--Navigation bar-->
<nav class="nav">
    <div class="company-name">
        <span style="color: #038BA5; font-size: x-large;">Bitsey | </span> Store
    </div>

    <div class="nav-element-container">
        <ul>
            <li><a href="{% url 'homepage' %}">Pre-order</a></li>
            <li><a href="{% url 'browse' %}">Games</a></li>
            <li><a href="{% url 'browse' %}">Deals</a></li>
            <li><a href="{% url 'browse' %}">Support</a></li>
        </ul>
    </div>
    
    <div class="nav-icon-container">
        {% if user.id != None %}
            <!-- If THERE IS user signed in navigate to account page when clicked -->
            
            <!--<a href="account/{{user.id}}/" ><img class="image-link-container" src="{% static '/media/images/homeImages/user.jpg' %}" alt=""></a> -->
            <a href="{% url 'edit_user' user_id=user.id %}"  ><img class="image-link-container" src="{% static '/media/images/homeImages/user.jpg' %}" alt=""></a>
            <a href="{% url 'cart'%}" ><img class="image-link-container" src="{% static '/media/images/homeImages/cart.jpg' %}" alt=""></a>
        
        {% else %}
            <!-- If NO user signed in navigate to sign in page when clicked -->
            
            <a href="{% url 'signin'%}" ><img class="image-link-container" src="{% static '/media/images/homeImages/user.jpg' %}" alt=""></a>
            <a href="{% url 'signin'%}" ><img class="image-link-container" src="{% static '/media/images/homeImages/cart.jpg' %}" alt=""></a>
        
            
        {% endif %} 

        

        
        
    </div>

</nav>