{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
   
    <link rel="stylesheet" href="{% static './css/responsiveElements.css'%} ">
    <link rel="stylesheet" href="{% static './css/global.css'%}">
    <link rel="stylesheet" href="{% static './css/responsiveGrid.css'%}">
    
    <link rel="stylesheet" href="{% static './css/store.css'%}">


    <title>Bitsey | Store</title>
</head>
<body>
    <!--Announcement section-->
    <section class="flex-justify-content-space-between light-gray-background">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
            </svg>

        <p>Free shipping in Malaysia on order over RM300!</p>

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
    </section>

    {% include 'navbar.html'%}
    

    <!-- Page background -->
    <section class="position-relative bg" style="height: 55vh; background-color: black;">
        <div class="col-12 background-image-container cover" style="background-attachment: local; height: 55vh;">
        </div>
       
        <div class="col-12 position-absolute d-flex align-items-center justify-content-center" style="height: 55vh;"> 
            <p class="text-white h1">Unlock the Power of Imagination, One Game at a Time.</p>
        </div>     
    </section>


    <div class="light-text-color standard-margin-left my-5"> Home > Browse</div>
    <p class="h2 standard-margin-left mb-4">Browse game</p> 
    <hr class="bitsey-color standard-margin-left" style="width: 100px; height: 8px; opacity: 1;">
    
    <div class="position-relative rounded col-4 standard-margin-left light-gray-background d-flex justify-content-between" >

        <form id="SearchForm" class="d-flex justify-content-between col-12 m-0 p-0" action="{% url 'search_for_game' %}" method="GET">
            {% csrf_token %}
            
            <input type="search" class="modern-input light-gray-background" id="searchInput" name="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />    
            <button type="submit" class="transparent-btn" ><i class="bi bi-search"></i></button>
        </form>      
    </div>

    <div class="position-relative d-flex justify-content-evenly col-12 mt-5">

        <div class="col-2 light-gray-background rounded-3 pb-5 d-block" style="height: fit-content">
            <div class="empty-btn col-12 mt-2">
                Deals
            </div>

            <div class="empty-btn col-12">
                Pre-orders
            </div>

            <div class="empty-btn col-12">
                New Releases 
            </div>
            

            <div class="col-12" style="padding: 5px;">
                Platform
            </div>

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        PlayStation
                    </label>
                </div>
                <div class="form-check my-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Xbox
                    </label>
                </div>
    
                <div class="form-check my-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Nintendo
                    </label>
                </div>
    
                <div class="form-check my-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        PC
                    </label>
                </div>
            </div>
            

            <div>
                <div class="accordion accordion-flush col-12" id="priceAccordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#price-collapse" aria-expanded="false" aria-controls="price-collapse">
                          Price
                        </button>
                      </h2>
                      <div id="price-collapse" class="accordion-collapse collapse" aria-labelledby="price-collapse" data-bs-parent="#priceAccordion">
                        <div class="accordion-body">
                            <div class="form-check my-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Below RM50
                                </label>
                            </div>
                            <div class="form-check my-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  RM50 - RM100
                                </label>
                            </div>
                            <div class="form-check my-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    RM100 - RM150
                                </label>
                            </div>
                            <div class="form-check my-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  RM150 - RM200
                                </label>
                            </div>
                            <div class="form-check my-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  RM200 +
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            





            <div class="accordion accordion-flush col-12" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Genre
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Action
                            </label>
                        </div>
                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                              Multiplayer
                            </label>
                        </div>

                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                              Horror
                            </label>
                        </div>

                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                              Family
                            </label>
                        </div>

                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                              Sport
                            </label>
                        </div>

                                <div class="form-check my-3">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                    Single Player
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- filter-->


    
        <div class=" position-relative col-9 " id="list-game-container">
            <div class="container">
                <div class="row" id="resultsContainer">

                    {% for game in returnedGames%}
                        <div class="col-4 gametag" >

                            <div class="game-block" onclick="ViewDetailsPage('{{ game.id }}')">
                                <div class="game-block-image" style="background-image: url('{{game.image.url}}');"></div> <!-- image -->
                                <div class="m-3">
                                    <p class="fw-bold light-text-color m-0">{{game.name}}</p> <!-- name -->
                                    <p class="text-m bitsey-text-color" style="margin-bottom: 10px;">RM {{game.price}}</p> <!-- Price -->
                                    <div class="position-relative d-flex justify-content-evenly">

                                        {% for platform in game.platforms.all %}
                                            <p>{{platform}}</p>
                                            
                                        {% endfor %}
                                        
                                    </div> <!-- platform -->
                                    <!-- Add to wishlist button -->

                                    <div class="wishlist-container" > <!-- event.stopPropagation() = prevent triggering parent div's onclick -->
                                        <button onclick="AddToWishList(`{{game.id}}`, `{{user.id}}`); " class="empty-btn"><i id='{{game.id}}' class="bi bi-heart" style="color: #038BA5;"></i></button> 
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    
                    {% endfor %}
                    
                </div>
    
    
    
            </div>
        </div>
        
    </div>

<script>
    function ViewDetailsPage(id) {
        console.log("This is clicked")
       // Use window.location to navigate to the detail page with the specified game ID
       window.location.href = "{% url 'game_Details' game_id=0 %}".replace('0', id);
    }

    document.addEventListener('DOMContentLoaded', function() {
        console.log("DOM has loaded")
        fetch('http://127.0.0.1:8000/wishListItem/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },})
            .then(response => response.json())
            .then(data => {
                console.log(data.userWishListItems)
                for (var i =0; i <data.userWishListItems.length; i++){
                    var icon = document.getElementById(data.userWishListItems[i])
                    icon.classList.remove('bi-heart')
                    icon.classList.add('bi-heart-fill')
 
                }
               
            })
            .catch(error => console.error('Error:', error));
        });
    

    function AddToWishList(gameId, userId){
        event.stopPropagation()

        var wishListIcon = document.getElementById(gameId)

        console.log("AddtoWishList btn is working")
        console.log(wishListIcon)

        fetch('http://127.0.0.1:8000/wishListItem/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ data: {
                    //"userId": userId,
                    "gameId": gameId
                } }),
            })
            .then(response => response.json())
            .then(data => {
                if(data.status == 'RemovedItem'){
                    wishListIcon.classList.remove('bi-heart-fill')
                    wishListIcon.classList.add('bi-heart')
                }else{
                   
                    wishListIcon.classList.remove('bi-heart')
                    wishListIcon.classList.add('bi-heart-fill')
         
                }
                console.log(data.status)
            })
            .catch(error => console.error('Error:', error));
       
      
    }
    
    
</script>
<script type="text/javascript" src="{% static 'js/notification.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cartNotification.js' %}"></script>
</body>
</html>