
.ps5-image{
    width: 10%;
    height: auto;
}

.discover-more-game-container{
    position: relative;
    width: 100%;
    background-color: #121314;
    padding-bottom: 10vh;
}

.genre-block{

    border-radius: 10px;
    filter: brightness(0.3);

}
.above-filter{
    z-index: 5;
}



.buy-at-bitsey-component{
    width: 10vw;
    height: 10vw;
}

.game-block-background-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}



.card-bitsey{
    width: 200px;
    height: 50vw;
    background-color: gray;
    margin: 10px;
}

.slider-container{
    position: relative;
    display: flex;
    align-items: center;
}
/*
.codMWII-backgroundImage{
    background-image: url('../../globalStatic/media/images/homeImages/Call-of-Duty-Modern-Warfare-3-2023-4K-Wallpaper-1.jpg');
}

*/