{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
   
    <link rel="stylesheet" href="{% static './css/responsiveElements.css'%} ">
    <link rel="stylesheet" href="{% static './css/global.css'%}">
    <link rel="stylesheet" href="{% static './css/responsiveGrid.css'%}">
    
    <link rel="stylesheet" href="{% static './css/store.css'%}">


    <title>Bitsey | Store</title>
</head>
<body>
    <!--Announcement section-->
    <div class="d-none d-md-block">
        <section class="flex-justify-content-center light-gray-background">
            <p class="m-3">Free shipping in Malaysia on order over RM300!</p>
        </section>

    </div>


    <!--Navigation bar-->
    {% include 'navbar.html' %}


    
    <div class="d-block d-md-none">
        <section class="flex-justify-content-center light-gray-background annoucement-small-screen">
            <p>Free shipping in Malaysia on order over RM300!</p>
        </section>
    </div>

    <!-- Wide screen page background -->
    <div class="col-12 d-none d-md-block p-0">
        <section class="position-relative bg" style="height: 55vh; background-color: black;">
            <div class="col-12 background-image-container cover" style="background-attachment: local; height: 55vh; background-position: center;">
            </div>
           
            <div class="col-12 position-absolute d-flex align-items-center justify-content-center" style="height: 55vh;"> 
                <p class="text-white h1">Unlock the Power of Imagination, One Game at a Time.</p>
            </div>     
        </section>
    </div>
   


    <!-- small screen page background -->
    <div class="col-12 d-block d-md-none p-0">
        <section class="position-relative" style="height: 40vw; background-color: black;">
            <div class="col-12 background-image-container cover" style="background-attachment: local; height: 40vw; background-position: center;">
            </div>
           
            <div class="col-12 position-absolute d-flex align-items-center justify-content-center" style="height: 40vw;"> 
                <p class="text-white text-center">Unlock the Power of Imagination, One Game at a Time.</p>
            </div>     
        </section>
    </div>

    <!-- small screen -->
    <div class="d-block d-md-none">
        <div style="height: 50vw;"></div>
    </div>

    <!-- large screen -->
    <div class="d-none d-md-block">
        <div style="height: 60vh;"></div>
    </div>


    <div class="d-block d-md-none">
        <p class="h5 standard-margin-left mb-4">Browse game</p> 
    </div>
    
    <div class="d-none d-md-block">
        <p class="h2 standard-margin-left mb-4">Browse game</p> 
    </div>
    <hr class="bitsey-color standard-margin-left" style="width: 100px; height: 5px; opacity: 1;">
    

    <!-- Search bar wide-->
    <div class="d-none d-md-block">
        <div class="position-relative rounded col-4 standard-margin-left light-gray-background d-flex justify-content-between" >

            <form id="SearchForm" class="d-flex justify-content-between col-12 m-0 p-0" action="{% url 'search_for_game' %}" method="GET">
                {% csrf_token %}
                
                <input type="search" class="modern-input light-gray-background" id="searchInput" name="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />    
                <button type="submit" class="transparent-btn" ><i class="bi bi-search"></i></button>
            </form>      
        </div>
    </div>
   

    <!-- Search bar small-->
    <div class="d-flex d-md-none align-items-center">
        <div class="position-relative rounded standard-margin-left light-gray-background d-flex justify-content-between" style="width: 65vw; padding: 5px 10px;">

            <form id="SearchForm" class="d-flex justify-content-between col-5 m-0 p-0" action="{% url 'search_for_game' %}" method="GET">
                {% csrf_token %}
                
                <input type="search" class="modern-input light-gray-background" id="searchInput" name="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />    
                <button type="submit" class="transparent-btn" ><i class="bi bi-search"></i></button>
            </form>      
        </div>
        
        <div class="secondary-btn-bitsey small-btn-padding" onclick="ShowFilterOption()">
            Filter
        </div>
    </div>

    <!-- wide screen -->
    <div class="d-none d-md-block">
        <div class="position-relative d-flex justify-content-evenly col-12 mt-5">

            

            <div class="col-2 light-gray-background rounded-3 pb-5 d-block" style="height: fit-content">
            
                <a href="{% url 'SearchPromotion' %}" style="margin-left: 15px; margin-top: 20px;">
                    Deals
                </a>
                
               
    
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input platform-check-input" type="checkbox" value="PS5" id="flexCheckPlayStation">
                        <label class="form-check-label" for="flexCheckDefault">
                            PlayStation 5
                        </label>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input platform-check-input" type="checkbox" value="PS4" id="flexCheckXbox">
                        <label class="form-check-label" for="flexCheckChecked">
                            PlayStation 4
                        </label>
                    </div>
    
                    <div class="form-check my-3">
                        <input class="form-check-input platform-check-input" type="checkbox" value="PS3" id="flexCheckXbox">
                        <label class="form-check-label" for="flexCheckChecked">
                            PlayStation 3
                        </label>
                    </div>
    
                    <div class="form-check my-3">
                        <input class="form-check-input platform-check-input" type="checkbox" value="Xbox One" id="flexCheckXbox">
                        <label class="form-check-label" for="flexCheckChecked">
                            Xbox One S
                        </label>
                    </div>
    
                    <div class="form-check my-3">
                        <input class="form-check-input platform-check-input" type="checkbox" value="Xbox 360" id="flexCheckXbox">
                        <label class="form-check-label" for="flexCheckChecked">
                            Xbox 360
                        </label>
                    </div>
    
        
                    <div class="form-check my-3">
                        <input class="form-check-input platform-check-input" type="checkbox" value="Nintendo" id="flexCheckNintendo">
                        <label class="form-check-label" for="flexCheckChecked">
                            Nintendo
                        </label>
                    </div>
        
                    <div class="form-check my-3">
                        <input class="form-check-input platform-check-input" type="checkbox" value="PC" id="flexCheckPC">
                        <label class="form-check-label" for="flexCheckChecked">
                            PC
                        </label>
                    </div>
                </div>
                
    
    
                <div class="accordion accordion-flush col-12" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Genre
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="form-check my-3">
                                    <input class="form-check-input genre-check-input" type="checkbox" value="Action" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    Action
                                    </label>
                                </div>
                                <div class="form-check my-3">
                                    <input class="form-check-input genre-check-input" type="checkbox" value="Multiplayer" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                    Multiplayer
                                    </label>
                                </div>
    
                                <div class="form-check my-3">
                                    <input class="form-check-input genre-check-input" type="checkbox" value="Horror" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                    Horror
                                    </label>
                                </div>
    
                                <div class="form-check my-3">
                                    <input class="form-check-input genre-check-input" type="checkbox" value="Family" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                    Family
                                    </label>
                                </div>
    
                                <div class="form-check my-3">
                                    <input class="form-check-input genre-check-input" type="checkbox" value="Sport" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                    Sport
                                    </label>
                                </div>
    
                                <div class="form-check my-3">
                                    <input class="form-check-input genre-check-input" type="checkbox" value="Single Player" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                    Single Player
                                    </label>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>






                <div class="accordion accordion-flush col-12" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSortBy" aria-expanded="false" aria-controls="flush-collapseOne">
                            Sort By
                            </button>
                        </h2>
                        <div id="flush-collapseSortBy" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="form-check">
                                    <input class="form-check-input sortby-input" type="radio" name="SortBy" value="SortByNone" id="SortByDecresingPrice">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        None
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input sortby-input" type="radio" name="SortBy" value="SortByIncreasingPrice"  id="SortByIncreasingPrice">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      Price- Low to high
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input sortby-input" type="radio" name="SortBy" value="SortByDecresingPrice" id="SortByDecresingPrice">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Price- High to low
                                    </label>
                                </div>
                                
                                
                               
                            </div>
                        </div>
                    </div>
                </div>





    
                <div class="col-12 d-flex justify-content-center"><a href="{% url 'browse' %}" class="secondary-btn-bitsey" style="padding: 5px 10px;">Clear Filter</a></div>
                
    
            </div> <!-- filter-->
    
    
        
            <div class=" position-relative col-9 " id="list-game-container">
                <div class="container">
                    
                    <div class="col-12">
                        <p><span class="bitsey-text-color">Search result for: </span>{{search}}</p>

                    </div>


                    <div id="noResultDisplay" class="col-10" style="display: none;">
                        <div class="col-12 d-flex justify-content-center">
                            <img style="height: 300px; width: 300px;" src="{% static '/media/images/userAppImages/sad.gif' %}" alt="empty wishlist">
                        
                        </div>
                        
                        <p class="text-center bitsey-text-color">Oppss.. No result found based on your search criteria(s)</p>
                    </div>
    
    
                    <div class="row resultsContainer">
                        
                    
                        {% for game in returnedGames%}
                            <div class="col-4 gametag" >
    
                                <div class="game-block" onclick="ViewDetailsPage('{{ game.id }}')">
                                    <div class="game-block-image" style="background-image: url('{{game.image.url}}');"></div> <!-- image -->
                                    <div class="m-3">
                                        <p class="fw-bold light-text-color m-0">{{game.name}}</p> <!-- name -->
                                        <p class="text-m bitsey-text-color" style="margin-bottom: 10px;">RM {{game.price}}</p> <!-- Price -->
                                        <div class="position-relative d-flex">
    
                                            {% if game.isOnPromotion %}
                                                <div class="promotion-label-small" >Promotion</div>
                                            {% endif %}
                                            
                                            
                                        </div> <!-- platform -->
                                        <!-- Add to wishlist button -->
    
                                        <div class="wishlist-container" > <!-- event.stopPropagation() = prevent triggering parent div's onclick -->
                                            <button onclick="AddToWishList(`{{game.id}}`, `{{user.id}}`); " class="empty-btn"><i id='{{game.id}}' class="bi bi-heart" style="color: #038BA5;"></i></button> 
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        
                        {% endfor %}
                        
                    </div>
        
        
        
                </div>
            </div>
            
        </div>
    </div>
    
    <!-- Small screen -->
    <div class="d-block d-md-none">

        <div id="filterPanel" class="col-2 light-gray-background rounded-3 pb-5" style="height: fit-content; display: none;">
            
            <a href="{% url 'SearchPromotion' %}" style="margin-left: 15px; margin-top: 20px;">
                Deals
            </a>
            
           

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input platform-check-input" type="checkbox" value="PS5" id="flexCheckPlayStation">
                    <label class="form-check-label" for="flexCheckDefault">
                        PlayStation 5
                    </label>
                </div>
                <div class="form-check my-3">
                    <input class="form-check-input platform-check-input" type="checkbox" value="PS4" id="flexCheckXbox">
                    <label class="form-check-label" for="flexCheckChecked">
                        PlayStation 4
                    </label>
                </div>

                <div class="form-check my-3">
                    <input class="form-check-input platform-check-input" type="checkbox" value="PS3" id="flexCheckXbox">
                    <label class="form-check-label" for="flexCheckChecked">
                        PlayStation 3
                    </label>
                </div>

                <div class="form-check my-3">
                    <input class="form-check-input platform-check-input" type="checkbox" value="Xbox One" id="flexCheckXbox">
                    <label class="form-check-label" for="flexCheckChecked">
                        Xbox One S
                    </label>
                </div>

                <div class="form-check my-3">
                    <input class="form-check-input platform-check-input" type="checkbox" value="Xbox 360" id="flexCheckXbox">
                    <label class="form-check-label" for="flexCheckChecked">
                        Xbox 360
                    </label>
                </div>

    
                <div class="form-check my-3">
                    <input class="form-check-input platform-check-input" type="checkbox" value="Nintendo" id="flexCheckNintendo">
                    <label class="form-check-label" for="flexCheckChecked">
                        Nintendo
                    </label>
                </div>
    
                <div class="form-check my-3">
                    <input class="form-check-input platform-check-input" type="checkbox" value="PC" id="flexCheckPC">
                    <label class="form-check-label" for="flexCheckChecked">
                        PC
                    </label>
                </div>
            </div>
            


            <div class="accordion accordion-flush col-12" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Genre
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="form-check my-3">
                                <input class="form-check-input genre-check-input" type="checkbox" value="Action" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                Action
                                </label>
                            </div>
                            <div class="form-check my-3">
                                <input class="form-check-input genre-check-input" type="checkbox" value="Multiplayer" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                Multiplayer
                                </label>
                            </div>

                            <div class="form-check my-3">
                                <input class="form-check-input genre-check-input" type="checkbox" value="Horror" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                Horror
                                </label>
                            </div>

                            <div class="form-check my-3">
                                <input class="form-check-input genre-check-input" type="checkbox" value="Family" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                Family
                                </label>
                            </div>

                            <div class="form-check my-3">
                                <input class="form-check-input genre-check-input" type="checkbox" value="Sport" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                Sport
                                </label>
                            </div>

                            <div class="form-check my-3">
                                <input class="form-check-input genre-check-input" type="checkbox" value="Single Player" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                Single Player
                                </label>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>






            <div class="accordion accordion-flush col-12" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSortBy" aria-expanded="false" aria-controls="flush-collapseOne">
                        Sort By
                        </button>
                    </h2>
                    <div id="flush-collapseSortBy" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input sortby-input" type="radio" name="SortBy" value="SortByNone" id="SortByDecresingPrice">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    None
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input sortby-input" type="radio" name="SortBy" value="SortByIncreasingPrice"  id="SortByIncreasingPrice">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Price- Low to high
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input sortby-input" type="radio" name="SortBy" value="SortByDecresingPrice" id="SortByDecresingPrice">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Price- High to low
                                </label>
                            </div>
                            
                            
                           
                        </div>
                    </div>
                </div>
            </div>






            <div class="col-12 d-flex justify-content-center"><a href="{% url 'browse' %}" class="secondary-btn-bitsey" style="padding: 5px 10px;">Clear Filter</a></div>
            <div class="col-12 d-flex justify-content-center"><div onclick="CloseFilter()" class="primary-btn" style="padding: 5px 10px;">Apply Changes</div></div>
            

        </div> <!-- filter-->




        <div class=" position-relative col-9 " id="list-game-container-small">

            <div class="container">
                <div id="noResultDisplay" class="col-10" style="display: none;">
                    <div class="col-12 d-flex justify-content-center">
                        <img style="height: 300px; width: 300px;" src="{% static '/media/images/userAppImages/sad.gif' %}" alt="empty wishlist">
                    
                    </div>
                    
                    <p class="text-center bitsey-text-color">Oppss.. No result found based on your search criteria(s)</p>
                </div>


                <div class="row resultsContainer" >
                    
                
                    {% for game in returnedGames%}
                        <div class="col-6 gametag" >

                            <div class="game-block game-block-small" onclick="ViewDetailsPage('{{ game.id }}')">
                                <div class="game-block-image" style="background-image: url('{{game.image.url}}');"></div> <!-- image -->
                                <div class="m-3">
                                    <p class="fw-bold light-text-color m-0">{{game.name}}</p> <!-- name -->
                                    <p class="text-m bitsey-text-color" style="margin-bottom: 10px;">RM {{game.price}}</p> <!-- Price -->
                                    <div class="position-relative d-flex">

                                        {% if game.isOnPromotion %}
                                            <div class="promotion-label-small" >Promotion</div>
                                        {% endif %}
                                        
                                        
                                    </div> <!-- platform -->
                                    <!-- Add to wishlist button -->

                                    <div class="wishlist-container" > <!-- event.stopPropagation() = prevent triggering parent div's onclick -->
                                        <button onclick="AddToWishList(`{{game.id}}`, `{{user.id}}`); " class="empty-btn"><i id='{{game.id}}' class="bi bi-heart" style="color: #038BA5;"></i></button> 
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    
                    {% endfor %}
                    
                </div>
    
    
    
            </div>
        </div>
    </div>



    {% include 'footer.html'%}
<script>

    function ShowFilterOption(){
        console.log("ShowFilterOption is clicked")
        var filterPanel = document.getElementById('filterPanel')
        var listGameContainer = document.getElementById('list-game-container-small')
        console.log(listGameContainer)
        listGameContainer.style.display = 'none'
        filterPanel.style.display = 'block'
    }
    function CloseFilter(){
        var filterPanel = document.getElementById('filterPanel')
        var listGameContainer = document.getElementById('list-game-container-small')
        console.log(listGameContainer)
        listGameContainer.style.display = 'block'
        filterPanel.style.display = 'none'
    }

    function ViewDetailsPage(id) {
        console.log("This is clicked")
       // Use window.location to navigate to the detail page with the specified game ID
       window.location.href = "{% url 'game_Details' game_id=0 %}".replace('0', id);
    }

    document.addEventListener('DOMContentLoaded', function() {
        console.log("DOM has loaded")
        fetch('http://127.0.0.1:8000/wishListItem/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },})
            .then(response => response.json())
            .then(data => {
                console.log(data.userWishListItems)
                for (var i =0; i <data.userWishListItems.length; i++){
                    var icon = document.getElementById(data.userWishListItems[i])
                    icon.classList.remove('bi-heart')
                    icon.classList.add('bi-heart-fill')
 
                }
               
            })
            .catch(error => console.error('Error:', error));
        });
    

    function AddToWishList(gameId, userId){
        event.stopPropagation()

        var wishListIcon = document.getElementById(gameId)

        console.log("AddtoWishList btn is working")
        console.log(wishListIcon)

        fetch('http://127.0.0.1:8000/wishListItem/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ data: {
                    //"userId": userId,
                    "gameId": gameId
                } }),
            })
            .then(response => response.json())
            .then(data => {
                if(data.status == 'RemovedItem'){
                    wishListIcon.classList.remove('bi-heart-fill')
                    wishListIcon.classList.add('bi-heart')
                }else{
                   
                    wishListIcon.classList.remove('bi-heart')
                    wishListIcon.classList.add('bi-heart-fill')
         
                }
                console.log(data.status)
            })
            .catch(error => console.error('Error:', error));
       
      
    }
    
    
</script>
<script type="text/javascript" src="{% static 'js/notification.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cartNotification.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filterAndSearch.js' %}"></script>

</body>
</html>