
.ps5-image{
    width: 100%;
    height: auto;
}

.discover-more-game-container{
    position: relative;
    width: 100%;
    background-color: #121314;
    padding-bottom: 10vh;
}

.genre-block{

    border-radius: 10px;
    filter: brightness(0.3);

}
.above-filter{
    z-index: 5;
}



.buy-at-bitsey-component{
    width: 10vw;
    height: 10vw;
}

.game-block-background-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}



.card-bitsey{
    width: 200px;
    height: 50vw;
    background-color: gray;
    margin: 10px;
}

.slider-container{
    position: relative;
    display: flex;
    align-items: center;
}

.codMWII-backgroundImage{
    background-image: url("/static/media/images/homeImages/CODMW32023.c56c5d858292.jpg");
}

.horror-game-background{
    background-image: url("/static/media/images/homeImages/horror-background.76e6822201a2.jpg");
}

.war-game-background{
    background-image: url("/static/media/images/homeImages/bf1-background-2.c6ce901a7258.jpg");
}

.family-background{
    background-image: url("/static/media/images/homeImages/kirby-family-section.8afc349dc1c4.jpeg");
}

.content-block{
    padding: 30px 5vw;
}
.content-block img{
    width: 10vw;
    height: auto;
}
.content-block p{
    text-align: center;
    margin-top: 10px;
}

/* Game promotion css */

.wrapper {
    width: 95%;
    padding: 20px 10px;
    position: relative;
    overflow-x: hidden;
    background: #fff;
    border-radius: 13px;
    display: flex;
    align-items: center;
}
.icon {
  width: 100px;
  display: flex;
  align-items: center;

  z-index: 3;
}
.icon:first-child {
  left: 0;
  background: linear-gradient(90deg, #fff 70%, transparent);
}
.icon:last-child {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(-90deg, #fff 70%, transparent);
}
.icon i {
  width: 55px;
  height: 55px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
}
.icon i:hover {
  background: #efedfb;
}
.icon:first-child i {
  margin-left: 15px;
} 
.icon:last-child i {
  margin-right: 15px;
} 
.wrapper .tabs-box {
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.tabs-box .tab {
    cursor: pointer;
    white-space: nowrap;
    background-color: transparent;
    padding: 13px 20px;
    transition: 0.3s;
    cursor: pointer;
}
.tabs-box .tab:hover{
    transform: scale(1.1);
    z-index: 2;
    
}
.tabs-box.dragging .tab {
  user-select: none;
  pointer-events: none;
}
.tabs-box .tab.active{
  color: #fff;
  background: #5372F0;
  border-color: transparent;
}

.block{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: gray;
    object-fit: cover;
}